
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
 html {
     Font-size: 62.5%;
     scroll-behavior: smooth;
}


/* General styles */
 body {
     font-family: 'Playfair Display', serif;
 }

 h1 {
     font-family: 'Playfair Display SC', serif;
     font-size: 3rem;
     letter-spacing: 1px;
     font-weight: 400;
}
 h2 {
     font-family: 'Playfair Display SC', serif;
     font-size: 2.6rem;
     letter-spacing: 1px;
}
 h3 {
     font-size: 1.8rem;
     letter-spacing: 1px;
}
 p {
     font-size: 1.6rem;
}
 .container-fluid {
     padding: 0;
}
 .section-title {
     text-transform: uppercase;
     font-size: 2rem;
     font-weight: 700;
     color: #FFFFFF;
     padding-bottom: 1.2rem;
}
 .inline {
     display: inline;
}
 .center {
     text-align: center;
}
 .white-line {
     border-top: 2px solid #FFFFFF;
     width: 3%;
     padding: 1.2rem 0;
     display: inline-block;
}
 .mauve-line {
     border-top: 2px solid #a98a90;
     width: 5%;
     padding: 1.2rem 0;
     text-align: left;
     display: inline-block;
}
 .extra-padding {
     padding-bottom: 1.3rem;
}
 .white {
     color: white;
     padding-bottom: 1.3rem;
}
 .row {
     margin: 0;
}
 .flex-container {
     display: flex;
     justify-content: flex-start;
}
/* End General styles */

/* Header */
 #nav {
     background-color: transparent;
     position: absolute;
     border-bottom: 0.5px solid #FFFFFF;
     text-transform: uppercase;
     letter-spacing: 1px;
     width: 100%;
}
 #nav a {
     color: #FFFFFF;
     font-size: 1.2rem;
     padding: 0.8rem 1.5rem;
}
 .navbar-toggler {
     background-color: #FFFFFF;
     border-color: #FFFFFF;
}
 .sticky {
     position: sticky !important;
     top: 0;
     background-color: rgba(84, 89, 95, 0.7) !important;
     z-index: 99999999999;
}
/* End Header */

/* Hero section */
 #hero-image {
     height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/crown-outside-view.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: ;
     background-color: #ffffff;
     background-attachment: fixed;
}
 .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #FFFFFF;
     letter-spacing: 1px;
     font-weight: 700;
}
 .home-cta {
     text-transform: uppercase;
     font-size: 1.35rem;
     padding: 1.3rem;
     margin-top: 1.5rem;
     letter-spacing: 1px;
}
 .main-heading {
     padding: 1.5rem;
     font-size: 4.3rem;
}
 .sub-heading {
     padding-bottom: 1.5rem;
}
 .white-line-main {
     border-top: 2px solid #FFFFFF;
     width: 5%;
     padding: 1.2rem 0;
     display: inline-block;
}
/* End Hero section */

/* Form section */
 form {
     width: 100%;
     background-color: #FFFFFF;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     max-height: 80vh;
     padding: 5rem;
     text-align:center;
     margin-top: 3px;
     border-top: 1px solid #a98a90;
     border-bottom: 1px solid #a98a90;
}
 label {
     display: inline-block;
     width: 10%;
     font-size: 1.4rem;
     padding-right: 1rem;
}
 input {
     width: 45%;
     padding: 5px;
     margin: 9px;
     opacity: 0.8;
     border-radius: 2%;
     border: 0.5px solid #54595F;
}
 .message {
     padding: 2rem;
}
 .form-title {
     padding: 1rem;
}
/* End Form section */

/* Footer */
 #footer {
     padding: 3rem 0.5rem;
     max-height: 90vh;
     background-color: #000000;
     color: #FFFFFF;
     display: flex;
     justify-content: space-around;
}
 .footer-title {
     text-transform: capitalize;
     text-decoration: underline;
     font-size: 1.5rem;
     padding-bottom: 0.8rem;
}
 .footer-text {
     font-size: 1.4rem;
     color: #FFFFFF;
     display: inline;
}
 .footer-icon {
     padding: 5px;
     color: #FFFFFF;
}
 .icon-text {
     align-content: flex-start;
}
 .fb-icon {
     color: #FFFFFF;
}
 .fb-text:hover, .fb-icon:hover {
     color: #54595F;
     text-decoration: none;
}

/* End Footer */

/* Media Queries*/

@media only screen and (min-width: 1600px) {
    .flex {
        display: flex;
        justify-content: start;
    }
}


 @media only screen and (max-width: 768px) {
     label {
         width: 28%;
         font-size: 1.1rem;
         padding: 2px;
    }
     footer {
         text-align: center;
         justify-content: center;
    }
     footer div {
         flex-wrap: wrap;
         width: 100%;
    }
     .footer-text {
         font-size: 1.1rem;
         color: #FFFFFF;
         display: inline;
         margin-top: 2rem;
    }
     .section-title {
         font-size: 1.5rem;
    }
     .history-text {
         font-size: 1.4rem;
    }
     .icon-text-dark {
         padding-bottom: 1.8rem;
    }
     #icons-dark {
         display: none;
    }
     #hero-image {
         height: 98vh;
    }
     .main-heading {
         font-size: 3.5rem;
    }
     .restrict-width {
         padding: 0 8%;
    }
     .mobile-hide {
         display: none;
    }
     .form {
         padding: 3rem 1rem;
    }
    .footer-title {
         display: none;
    }
     .phone, .address {
         display: none;
    }
     .flex-col {
         flex: 50%;
         max-width: 50%;
    }

     #accommodation {
         height: 90vh;
    }
}
 @media only screen and (max-width: 600px) {
     h2 {
         font-size: 1.9rem;
    }
     .flex-col {
         flex: 100%;
         max-width: 100%;
    }
     .info-text {
         padding: 0;
         font-size: 1.3rem;
    }
     .history-text {
         font-size: 1.3rem;
    }
     #info {
         padding: 3.5rem;
    }
     .home-cta {
         padding: 0.8rem;
         margin-top: 1.5rem;
         font-size: 1rem;
    }
     .main-heading {
         font-size: 2.2rem;
    }
     .sub-heading {
         font-size: 1.8rem;
    }
     #accommodation {
         height: 75vh;
    }
 }